<!DOCTYPE html>
<html lang="en">
<head>
  <title>interaction</title>
</head>

<body>
  <h1 style="text-align: center"> Introduction </h1>

  <script>
  //Gets ID
    var id = prompt("Please enter your given ID number");
    var pass = prompt("Please enter the given password");
    //Checks for password. Yes it is hard coded
    while (pass != "sealab123") {
      pass = prompt("Password incorrect, please contact supervisor for assitance");
    }

    //Moves users to next page with their id number passed
    function nextPage() {
      window.location.href = 'home.ejs' + '#' + id;
    }
  </script>
  <p>This part of the study consists of two components:</p>
  <p>1. First, you will watch an instructional video that is approximately 30-minutes long. This video will teach you about three caregiving behaviors: warmth, sensitivity, and intrusiveness. You will be trained in how child development experts rate real life parent-child interactions for these behaviors and will be asked to think about how you would rate several videos.</p>
  <p>2.Next, you will provide your own ratings for several videos. Pop-ups will appear after each video for you to enter your ratings for each behavior. We anticipate this part of the study will take approximately 30 minutes. </p>
  Please note that if you exit out of the window at any time you will not be able to resume where you left off. Please do your best to complete both components of this part of the study in one sitting. If you need to take a break, DO NOT EXIT OUT OF THIS WINDOW. Thank you!
  <br><br>
  <button type="button" onclick="nextPage()">Continue</button>

</body>
